<div>
  <h3>Aqui vamos a acceder</h3>

  <form action="/registro/acceso" method="post">

  <label for="username">Usuario:</label>
  <input type="text" name="username">
  <br>
  <label for="password">Contraseña:</label>
  <input type="text" name="password">
  <br>
  <p style="color: red">{{errorMensaje}}</p>
  
  <br>
  <button>Entrar</button>
  
  
  
  
  </form>
</div>