<div>
  <h3>Aqui nos vamos a inscribir</h3>

  <form action="/registro/inscribirse" method="post">

  <label for="username">Usuario:</label>
  <input type="text" name="username">
  <br>
  <label for="password">Contraseña:</label>
  <input type="text" name="password">
  <br>
  <p style="color: red">{{mensajeError}}</p>
  
  <br>
  <button>Registrarse</button>
  
  
  
  
  </form>
</div>